.about {
    position: fixed;
    display: block;
    background-color: #efefeff5;
    color: white;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*#region HEADER*/

.aboutHeader {
    display: block;
    height: 20vh;
    border-bottom: 1px solid gray;

}

.aboutHeaderTitleRight > ul > a:hover {
    text-decoration: none;
}

.aboutHeaderTitleRight > ul {
    list-style: none;
    display: inline-flex;
    height: 100%;
}

.buttonSkills , .buttonContact, .buttonHome {
    display: table;
    color: white;
    width: 100px;
    height: 100%;
    text-align: center;
}

.buttonSkills {
    background-color: var(--blue);
    transform: skew(20deg);
}
.buttonContact {
    background-color: var(--red);
    transform: skew(20deg);
}
.buttonHome {
    background-color: #333;
    transform: skew(20deg);
}
.buttonSkills:hover {
    background-color: var(--darkerBlue);
}
.buttonContact:hover {
    background-color: var(--darkerRed);
}
.buttonHome:hover {
    background-color: black;   
}

.buttonText {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
}


    /* #region Text */

    .aboutHeaderTitle #this {
        font-size: 8rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    .aboutHeaderTitle #isAbout {
        font-size: 7rem;
        margin-top: 0px;
        line-height: 0;
        margin-left: 12px;
    }
    .aboutHeaderTitle #is {
        font-size: 6rem;
        color: black;
        position: absolute;
        transform: rotate(-25deg);
        margin-top: -30px;
    }
    .aboutHeaderTitle #about {
        font-size: 4.5rem;
        position: absolute;
        left: 81px;
        margin-top: -22px;
    }
    .aboutHeaderTitle #me {
        font-size: 15rem;
        color: black;
        text-transform: uppercase;
        position: absolute;
        top: -26px;
        left: 200px;
    }



    #years {
        position: absolute;
        color: var(--blue);
        font-size: 2rem;
        -webkit-transform: rotate(-68deg);
        transform: rotate(-68deg);
        left: 47px;
        top: 48px;
    }

    /* #endregion Text */

/*#endregion*/

.aboutPhoto {
    position: fixed;
    border-right: 1px solid gray;
    height: 80%;
    background-image: url(../Images/photo.jpg);
    background-size: cover;
}

.experience {
    font-size: 6rem;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    padding-top: 15px;
    margin-top: 3vh; 
    color: var(--red);
    border: 1px dashed var(--red); 
    position: relative;
}

.aboutHeaderTitleRight {
    font-size: 1.6rem;
    height: 100%;
    text-align: center;
}

.aboutHeaderTitle {
    text-align: left;
    color: gray;
}

.aboutText {
    position: fixed;
    font-size: 1.5rem;
    text-align: left;
    color: #333;
    height: 80%;
    overflow-y: auto;
    padding: 10vh;
    right: 0;
}

.aboutText > label {
    font-size: 3rem;
}

.buttons {
    color: white;
    text-align: center;
    margin-top: 10%;
}

.buttons .col-md-6 {
    padding: 0;
}

.buttonCV {
    padding: 15px;
    background-color: rgb(30, 30, 30);
    display: block;
    color: white
}
.buttonPSafe {
    padding: 15px;
    background-color: #333;
    display: block;
    color: white;
}

.buttonCV:hover , .buttonPSafe:hover {
    cursor: pointer;
    background-color: var(--darkerBlue);
    text-decoration: none;
    color: white;
}


