.contact {
    position: absolute;
    display: block;
    background-color: yellowgreen;
    color: white;
    z-index: 2;

    top: 6vh;
    left: 0;
    height: 94vh;    
    width: 100%;
}

