.contact {
    position: absolute;
    display: block;
    background-color: yellowgreen;
    color: white;
    z-index: 2;

    top: 12vh;
    right: 0;
    height: 88vh;    
    width: 50%;
}