/* #region MENU*/

.header-top-area {
  position: fixed;
  left: 0;
  top: 0;
  text-align: right;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.nav {
  display: inline-flex;
}

.logo a {
  color: #fff;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.15em;
}

.menu {
  display: none;
  text-align: right;
}

.menu > ul {
  list-style: none;
  display: inline-flex;
}

.menu > ul > li {
  margin-right: 15px;
}

.menu > ul > li a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem 1rem;
}

.toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 0.01vh;
  background-color: transparent;
  background-image: none;
  border: 0px;  
}

.icon-bar {
  display: block;
  width: 22px;
  height: 1px;
  border-radius: 1px;
  background-color: #fff;
  margin-bottom: 5px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (min-width: 768px) {
  .toggle {
    display: none;
  }

  .menu {
    display: block;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }

  .header-top-area {
    text-align: left;
  }

  .nav {
    display: unset;
  }

}

/* #endregion */
/* #region CONTENT*/

.welcome-image-area {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#282c34b3, #282c34);
  z-index: 1;
  top: 0;
  left: 0;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.socialLink {
  list-style: none;
  display: inline-flex;
  z-index: 999;
}

.socialLink > li {
  margin-right: 15px;
  width: 25px;
  height: auto;
  z-index: 2;  
}

.socialLink > li:hover {
  color: var(--red);
  cursor: pointer;
}


.titleHome {
  font-size: 10rem;
  position: relative;
  text-align: right
}

.titleHome .to, .titleHome .different {
  margin-right: 165px;
}

.titleHome .different {
  font-size: 11rem;
  line-height: 1.1;
}


.titleHome .different .f {
  opacity: 0.5;
}


.titleHome .be {
  position: absolute;
  font-size: 20rem;
  display: block;
  transform: rotate(90deg);
  right: -50px;
}

.header-footer-area {
  display: block;
  position: absolute;
  bottom: 75px;
  z-index: 999;
}

/* #endregion */
/* #region animation*/
.header-footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 1vw;
  height: 1vw;
  border: 1vw solid;
  border-color: white transparent transparent rgba(255, 255, 255, 0.604);
  transform: rotate(135deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 10s linear infinite; 
          animation: slide 10s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(-15vw); }	
   20% { opacity:1; transform: translateX(-9vw); }	
   80% { opacity:1; transform: translateX(9vw); }	
  100% { opacity:0; transform: translateX(15vw); }	
}
@keyframes slide {
    0% { opacity:0; transform: translateX(-15vw); }	
   20% { opacity:1; transform: translateX(-9vw); }	
   80% { opacity:1; transform: translateX(9vw); }	
  100% { opacity:0; transform: translateX(15vw); }	
}



/* #endregion */