.welcome-image-area {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#282c34b3, #282c34);
  top: 0;
  left: 0;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.socialLink {
  list-style: none;
  display: inline-flex;
  z-index: 1;
}

.socialLink > li {
  margin-right: 15px;
  width: 25px;
  height: auto;
  z-index: 2;  
}

.socialLink > li:hover {
  color: var(--red);
  cursor: pointer;
}


.titleHome {
  font-size: 10rem;
  position: relative;
  text-align: right
}

.titleHome .to, .titleHome .different {
  margin-right: 165px;
}

.titleHome .different {
  font-size: 11rem;
  line-height: 1.1;
}


.titleHome .different .f {
  opacity: 0.5;
}


.titleHome .be {
  position: absolute;
  font-size: 20rem;
  display: block;
  transform: rotate(90deg);
  right: -50px;
}

.header-footer-area {
  display: block;
  position: absolute;
  bottom: 75px;
}

/* #region animation*/
.header-footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 1vw;
  height: 1vw;
  border: 1vw solid;
  border-color: white transparent transparent rgba(255, 255, 255, 0.604);
  transform: rotate(135deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 10s linear infinite; 
          animation: slide 10s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(-15vw); }	
   20% { opacity:1; transform: translateX(-9vw); }	
   80% { opacity:1; transform: translateX(9vw); }	
  100% { opacity:0; transform: translateX(15vw); }	
}
@keyframes slide {
    0% { opacity:0; transform: translateX(-15vw); }	
   20% { opacity:1; transform: translateX(-9vw); }	
   80% { opacity:1; transform: translateX(9vw); }	
  100% { opacity:0; transform: translateX(15vw); }	
}



/* #endregion */