.skills {
    position: absolute;
    display: block;
    background-color: blueviolet;
    color: white;
    z-index: 2;

    top: 10vh;
    right: 25%;
    height: 90vh;    
    width: 50%;
}