.skills {
    position: absolute;
    display: block;
    background-color: #212327;
    color: white;
    z-index: 2;

    top: 0;
    left: 0;
    height: 100%;    
    width: 100%;

}

.skillsContainer {
    padding: 25px;
    padding-top: 10vh;
}
